.title
{
   background-color: rgb(225, 13, 123);
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
}

.slogan
{
    background-color: hotpink;
    color: aliceblue;
    font-family: 'Satisfy', cursive;
    font-size: large;
    display:flex;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    
}

body{
    background-color: rgb(218, 14, 137);
}
h5{color: azure;}
.card-img-top{
    width: 300px;
    height: 350px;
}
.imgDiv{
    display: flex;
    justify-content: center;
}


  #popup1 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(224, 88, 202);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(224, 14, 14, 0.5);
  }
#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: pink;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(147, 6, 102, 0.5);
  }
  .buttonDiv{
    display:flex;
   justify-content: space-between;
  }
 